{% load static %}

{% if user.is_superuser %}
    <link rel="stylesheet" href='{% static "kperms/vendor/jquery-contextmenu/jquery.contextMenu.min.css" %}'>
    <script src='{% static "kperms/vendor/jquery-contextmenu/jquery.contextMenu.min.js" %}'></script>
    <script src='{% static "kperms/vendor/jquery-contextmenu/jquery.ui.position.min.js" %}'></script>

    <script>
         $(function() {
            $.contextMenu({
                selector: '{{ perm_contextmenu_variable|default:".perm-contextmenu" }}',
                trigger: 'hover',
                delay: 2000,
                callback: function(key, options, e) {
                    var elemId = $(this).attr('id');
                    var permElemId = elemId + '_perm';
                    var permElem = $('#' + permElemId);

                    if (key == 'perms'){
                        permElem.trigger('click');
                    }
                },
                items: {
                    "perms": {name: "Permissions", icon: "edit"},
                }
            });
        });
    </script>
{% endif %}