{% extends 'kommons/skeleton.html' %}
{% load static %}


{% block end_body %}
	<script type="text/javascript">
		$('.popup_box select').select2();
	</script>
{% endblock %}

{% block content %}
    <div class="popup_box">
    <form method="post" action='{{ func_url }}?{{ extra_params }}'>
        {% csrf_token %}
        <div class="module">
            <table>
                <caption>Groups</caption>
                <thead>
                    <tr>
                        <th style="width: 25%">Label</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                	{% for obj in perm_objects %}
                    <tr>
                        <td>{{ obj.permission.name }}</td>
                        <td>
                            <select multiple="multiple" name="{{ obj.permission.pk }}" style="width: 100%">
							{% for grp in obj.all_groups %}
							    <option value="{{ grp.pk }}"
							    {% if grp in obj.selected_groups %}selected="selected"{% endif %}>{{ grp }}
							    </option>
							{% endfor %}
							</select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    	<input type="submit" value="Save" class="default" />
    </form>
    </div>
{% endblock %}

